{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

{% endblock %}

{% block body %}
    <h1 class="mb-1">Découvrez de nouvelles séries</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-2">
                <div class="col">
                    <form method="get">
                        <label for="year">Année</label>
                        <select id="year" name="first_air_date_year" class="selectpicker filter-select">
                            <option value="0">Aucun</option>
                            {% for ans in 2018..1990 %}
                                <option value="{{ ans }}">{{ ans }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="col">
                    <form method="get">
                        <label for="sort_by">Trier par</label>
                        <select id="sort_by" name="sort_by" class="selectpicker filter-select">
                            <option>Aucun</option>
                            <option value="popularity.desc">Popularité descendante</option>
                            <option value="popularity.asc">Popularité ascendante</option>
                            <option value="primary_release_date.desc">Date de sortie descendante</option>
                            <option value="primary_release_date.asc">Date de sortie ascendante</option>
                        </select>
                    </form>
                </div>
                <div class="col">
                    <form method="get">
                        <label for="with_genres">Genres</label>
                        <select id="with_genres" name="with_genres" multiple class="selectpicker filter-select">
                            <option>Aucun</option>
                            <option value="10759" selected>Action &amp; Adventure</option>
                            <option value="16">Animation</option>
                            <option value="35">Comédie</option>
                            <option value="80">Crime</option>
                            <option value="99">Documentaire</option>
                            <option value="18">Drame</option>
                            <option value="10751">Familial</option>
                            <option value="10762">Kids</option>
                            <option value="9648">Mystère</option>
                            <option value="10763">News</option>
                            <option value="10764">Reality</option>
                            <option value="10765">Science-Fiction &amp; Fantastique</option>
                            <option value="10766">Soap</option>
                            <option value="10767">Talk</option>
                            <option value="10768">War &amp; Politics</option>
                            <option value="37">Western</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row mt-4">
            {% for data in array %}
                <div class="col-md-3">
                    <div class="card shadow-sm">
                        <img src="{{ data.img }}" class="card-img-top">
                        <div class="card-body section-card">
                            <h4>{{ data.name }}</h4>
                            <p class="card-text">
                                {{ data.description|slice(0, 90) ~ '...' }}
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ path('app_series_ficheserie', {id: data.id, season_number: 1 }) }}"
                                   class="btn btn-sm btn-outline-secondary">
                                    Voir
                                </a>
                                <form method="post">
                                    <input type="hidden" value="{{ data.id }}" name="fav">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">
                                        Ajouter
                                    </button>
                                </form>
                            </div>
                            <small class="text-muted">
                                {{ data.datediff|date('d/m/Y') }}
                            </small>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="alert alert-danger">Aucune série n'est affiché</p>
            {% endfor %}
        </div>

          <ul class="pagination justify-content-center">
            {% for i in 1..10 %}
                <li class="page-item">
                    <a class="page-link " href="{{ path('app_series_api', {page: i}) }}">{{ i }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.filter-select').on('change', function () {
            // soumet le formulaire, lorsqu'une valeur change
            this.form.submit();
        });
    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>
{% endblock %}


