{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

{% endblock %}

{% block body %}
    {% for tab in fiche %}
    <div class="mt-5 row">
        <div class="col">
            <div class="row">
                <div class="col-md-12 px-0">
                    <span class="">{{ tab.network ~ ' ('~tab.country~')' ~ ' | ' ~ tab.seasons ~ ' saisons' }}</span>
                    <p class="lead">
                        {% for genre in nb_genre %}
                            <span class="badge bg-blue">{{ genre.name }}</span>
                        {% endfor %}
                    </p>
                    <p class="lead my-3">
                        {{ tab.description }}
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ tab.img }}" class="img-fluid">
                    <div class="row">
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <select class="selectpicker mb-3">
                        {#<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Les saisons
                        </a>
                        <div class="dropdown-menu">#}
                        {% for num in nb_season %}
                            {% if num.season == '0' %}
                                <option class="d-none" value="{{ 'Saison '~ num.season }}">{{ 'Saison ' ~ num.season }}</option>
                            {% else %}
                                <option class="dropdown-item" name="saison" value="{{ 'Saison '~ num.season }}">{{ 'Saison ' ~ num.season }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                    <table class="table table-striped">
                        <tr>
                            <th>Numéro de l'épisode</th>
                            <th>Nom de l'épisode</th>
                        </tr>
                        {% for episode in episodes %}
                        <tr>
                            <td>{{ episode.num_episode }}</td>
                            <td>{{ episode.name_episode }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>
{% endblock %}