{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('lib/css/shop.css') }}">
{% endblock %}

{% block body %}
    <ul class="nav nav-pills nav-fill pt-3">
        <li class="nav-item bg-light">
            <a class="nav-link" href="{{path('app_shop_index')}}">Tous les produits</a>
        </li>
        <li class="nav-item bg-light">
            <a class="nav-link" href="{{ path('app_shop_coffret') }}">Coffret série</a>
        </li>
        <li class="nav-item bg-light">
            <a class="nav-link" href="{{ path('app_shop_dvd') }}">DVD & Blue-ray</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link active" href="{{ path('app_shop_goodies') }}">Goodies</a>
        </li>
    </ul>
    <hr>
    <div class="products">
        <div class="container">
            <div class="row products_row">
                {# Affichage des produits #}
                {% for product in products %}
                    <div class="col-xl-4 col-md-6">
                        <div class="product">
                            <div class="product_image product_content">
                                <img src="{{ asset('lib/asset/' ~ product.image) }}" alt="" width="280" height="295" class="pl-5 pb-3 pt-3">
                            </div>
                            <div class="product_content">
                                <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                    <div>
                                        <div>
                                            <div class="product_name">
                                                <a href="">{{ product.title }}</a>
                                            </div>
                                            <div class="product_category">
                                                <a href="">{{ product.category }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ml-auto text-right">
                                        <div class="rating">
                                            <label for="stars-rating-5"><i class="fa fa-star gold"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star gold"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star gold"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star gold"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star gold"></i></label>
                                        </div>
                                        <div class="product_price text-right">{{ product.price }} €</div>
                                    </div>
                                </div>
                                <hr>
                                <div class="product_info">
                                    <h6>Description du produit :</h6>
                                    <p>{{ product.description }}</p>
                                </div>
                                <div class="product_buttons">
                                    <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                        <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                            <p><a href="{{ path('app_shop_detailproduct', {id:product.id}) }}"><i class="fas fa-search"></i></a></p>
                                        </div>
                                        <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                            <p><a href=""><i class="fas fa-cart-plus"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
