{% extends 'base.html.twig' %}

{% block body %}
    {% for tab in fiche %}




        <div class="mt-5 row">
            <div class="col">
                <div class="row">
                    <div class="col-md-12 px-0">
                        <span class="">{{ tab.network ~ ' ('~tab.country~')' ~ ' | ' ~ tab.seasons ~ ' saisons' }}</span>
                        <p class="lead">
                            {% for genre in nb_genre %}
                                <span class="badge badge-info">{{ genre.name }}</span>
                            {% endfor %}
                        </p>
                        <p class="lead my-3">
                            {{ tab.description }}
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ tab.img }}" class="img-fluid">
                        <div class="row">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="dropdown text-center">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropSeason"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Les saisons
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropSeason">
                                {% for num in nb_season %}
                                    {% if num.season == '0' %}
                                        <a class="d-none" href="#">{{ 'Saison '~ num.season }}</a>
                                    {% else %}
                                        <a class="dropdown-item" name="saison" href="#">{{ 'Saison '~ num.season }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th>Numéro de l'épisode</th>
                                <th>Nom de l'épisode</th>
                                <th></th>
                            </tr>
                            {% for episode in episodes %}
                                <tr>
                                    <td>{{ episode.num_episode }}</td>
                                    <td>{{ episode.name_episode }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}