<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {# -------------- META --------------#}
    <title>{% block title %}Serial-Watchers{% endblock %}</title>
    {% block stylesheets %}
        {#----------------------------------------- STYLESHEET ---------------------------------------------#}
        {#------------------------ Bootstrap ----------------------#}
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
        {#------------------------ Font Awesome ----------------------#}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">

        {#------------------------ Notre CSS ----------------------#}
        <link rel="stylesheet" href="{{ asset('lib/style.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/css/sb-admin.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/css/calendar.css') }}">



        {#------------------------ GOOGLE FONT ----------------------#}

        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    {% endblock %}
</head>
<body>


{#------------------------------ DEBUT HEADER ------------------------------#}

<nav class="navbar navbar-expand navbar-dark bg-black static-top">
    <!-- bouton side bar -->
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    <!-- LOGO -->
    <a class="navbar-brand ml-2 mr-1" href="index.html">
        <img src="/lib/asset/serial-watcher-logoVlight.png" alt="logo" style="width:50%">
    </a>


    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    <!-- /Navbar Search -->
    <!-- Navbar -->
    {% if app.user is not null %}

        <ul class="navbar-nav ml-auto ml-md-0">
            {# onglet Menu déroulant 1#}
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    {#<span class="badge badge-danger">9+</span>#}
                </a>
                {#list item liens#}
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            {# onglet Menu déroulant 2#}
            <li class="nav-item dropdown no-arrow">

                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                {#list item liens#}
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>
    {% endif %}

    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item no-arrow mx-1">
            <!-- inscription -->
            <a href="{{ path('app_security_register') }}" class="nav-link">
                Inscription
            </a>
        </li>
        <!-- connexion -->
        <li class="nav-item no-arrow mx-1">
            <a href="{{ path('app_security_login') }}" class="nav-link">
                Connexion
            </a>
        </li>
    </ul>

</nav>

{#---------------------- DEBUT MENU ADMIN -----------------------#}

{% if is_granted('ROLE_ADMIN') %}

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Mon Tableau de bord</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Gestion Admin</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <!-- Gestion des utilisateurs -->
                    <h6 class="dropdown-header">Gestion des utilisateurs</h6>
                    <a class="dropdown-item" href="{{ path('app_admin_user_index') }}">index</a>
                    <a class="dropdown-item" href="{{ path('app_admin_user_downgradestatus') }}">Up grade Status</a>
                    <a class="dropdown-item" href="{{ path('app_admin_user_downgradestatus') }}">Downgrade status</a>

                    <!-- Gestion des séries -->
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Gestion des séries</h6>
                    <a class="dropdown-item" href="{{ path('app_series_api') }}">Api</a>
                    <a class="dropdown-item" href="{{ path('app_series_afficherfav') }}">Afficher favoris</a>
                    <!-- Gestion de la boutique -->
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Gestion boutique</h6>
                    <a class="dropdown-item" href="{{ path('app_admin_product_index') }}">Index</a>
                    <a class="dropdown-item" href="{{ path('app_admin_product_edit') }}">Editer un Produit</a>
                    <a class="dropdown-item" href="{{ path('app_shop_index') }}">Index boutique</a>

                    <a class="dropdown-item" href="blank.html">Blank Page</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_security_logout') }}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>déconnexion</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>
        </ul>


        <!-- Contenu tableau de bord admin -->
        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Overview</li>
                </ol>

                <!-- Icon Cards-->
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white o-hidden h-100 bg-blue">
                            <div class="card-body">
                                <div class="card-body-icon">
                                </div>
                                <div class="mr-5">26 New Messages!</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="#">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-yellow o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                </div>
                                <div class="mr-5">11 New Tasks!</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="#">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-info o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                </div>
                                <div class="mr-5">123 New Orders!</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="#">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-purple o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-fw fa-life-ring"></i>
                                </div>
                                <div class="mr-5">13 New Tickets!</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="#">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Area Chart Example-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-chart-area"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body">

                        <canvas id="myAreaChart" width="100%" height="30"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>

                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Data Table Example
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>

            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2018</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    {#---------------------- FIN MENU ADMIN -----------------------#}


{% endif %}


{#---------------------- DEBU MENU UTILISATEUR -----------------------#}


{% if app.user is not null %}
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        {# Image Profil #}
        <div class="profil">
            <img src="/lib/images/avatar.png" alt="avatar-profil" class="img-responsive center-block img-circle"
                 id="avatar-profil">
        </div>

        {# Nom de l'utilisateur #}
        <div id="user-name" style="color:white;" class="text-center mr-4">
            <h3>{{ app.user }}</h3>
        </div>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Tableau de bord</span>
                {# WATCH LIST #}
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Fil d'actualités</h6>
                    <a class="dropdown-item" href="">episodes vus</a>
                    <a class="dropdown-item" href="">séries regardés</a>
                    <a class="dropdown-item" href="">séries à regarder</a>

                    {#SERIES #}
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Toutes les séries</h6>
                    <a class="dropdown-item" href="">Fiche série</a>

                    {# BOUTIQUE #}
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header"><a href="{{ path('app_shop_index') }}">La boutique</a></h6>
                    <a class="dropdown-item" href="{{ path('app_shop_dvd') }}">DVD</a>
                    <a class="dropdown-item" href="{{ path('app_shop_coffret') }}">Coffrets</a>
                    <a class="dropdown-item" href="{{ path('app_shop_goodies') }}">Goodies</a>
                </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_security_logout') }}">
                <i class="fas fa-sign-out-alt"></i>
                <span>déconnexion</span></a>
        </li>
        a
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-cog"></i>
                <span>Modifier profil</span></a>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Mon Espace Personnel</a>
                </li>
                <li class="breadcrumb-item active"></li>
            </ol>

            <!-- Icon Cards-->
            <div class="row">
                {#1er vignette#}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 bg-blue">
                        <div class="card-body">
                            <div class="card-body-icon">
                            </div>
                            <div class="mr-5">Historique</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                        </a>
                    </div>
                </div>
                {#2eme vignette#}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-yellow o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                            </div>
                            <div class="mr-5">Favoris</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Plus d'infos</span>
                            <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                        </a>
                    </div>
                </div>
                {#3eme vignette#}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-info o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                            </div>
                            <div class="mr-5">Nouveautés</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Plus d'infos</span>
                            <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                        </a>
                    </div>
                </div>
                {#4eme vignette#}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-purple o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-life-ring"></i>
                            </div>
                            <div class="mr-5">Prochainement</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Plus d'infos</span>
                            <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Area Chart Example-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-area"></i>
                    Derniers épisodes
                </div>
                <div class="card-body">

                    <div class="row row-striped">
                        <div class="col-2 text-right">
                            {#jour#}
                            <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
                            {# Mois #}
                            <h2>OCT</h2>
                        </div>
                        <div class="col-10">
                            {# nom de la série#}
                            <h3 class="text-uppercase"><strong>Nom de la série</strong></h3>
                            <ul class="list-inline">
                                {#jour de diffusion#}
                                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday
                                </li>
                                {#heure de diffusion#}
                                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM -
                                    2:00 PM
                                </li>
                                {#numéro de l'épisode diffusé#}
                                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                                    Cafe
                                </li>
                            </ul>
                            <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <canvas id="myAreaChart" width="100%" height="30"></canvas>
                </div>
                {#lien vers la fiche série#}
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Data Table Example
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2018</span>
                </div>
            </div>
        </footer>

    </div>
    {% endif %}

    {#---------------------- DEBUT MENU INTERFACE UTILISATEUR ---------------------#}
    {#---------------------- LOGO LIEN INDEX ---------------------#}



    {#------------------------------ INSCRIPTION ------------------------------#}



    {#{% if app.user is null %}#}

    {#<ul class="navbar-nav navbar-collapse col-sm-4" id="navbar-index">#}

    {#<ul class="navbar-nav" id="navbar-index">#}
    {#<li class="nav-item">#}
    {#<a href="{{ path('app_security_register') }}" class="nav-link">#}
    {#Inscription#}
    {#</a>#}
    {#</li>#}
    {#------ CONNEXION ------#}
    {#<li class="nav-item">#}
    {#<a href="{{ path('app_security_login') }}" class="nav-link">#}
    {#Connexion#}
    {#</a>#}
    {#</li>#}
    {#</ul>#}
    {#{% else %}#}
    {#Nom de l'utilisateur connecté #}
    {#<li class="nav-item">#}
    {#<a class="nav-link">#}
    {#{{ app.user }}#}
    {#</a>#}
    {#</li>#}
    {#------ DECONNEXION ------#}
    {#<li class="nav-item">#}
    {#<a href="{{ path('app_security_logout') }}" class="nav-link">#}
    {#Déconnexion#}
    {#</a>#}
    {#</li>#}
    {#{% endif %}#}
    {#</div>#}
    {#</nav>#}


    {#---------------------- FIN MENU INTERFACE UTILISATEUR ---------------------#}

    {#--------------------------------- FIN HEADER ------------------------------#}


{# contiendra nos erreurs pour la connexion et l'inscription
 de même il centrera notre contenu #}

{# si on n'est pas sur la homepage, on affiche la class container#}

<div class="{% if app.request.attributes.get('_route') != 'app_index_index' %}mt-2 container{% endif %}">
    {# affichage des messages flash #}
    {% for type, flashes in app.session.flashBag.all %}
        {% for message in flashes %}
            {# pour la classe alert-danger du bootstrap #}
            {% if type == 'error' %}
                {% set type = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ type }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
</div>


{#---------------------- DEBUT FOOTER ---------------------#}

    {#<!-- Footer -->#}
    {#<footer class="mt-5 text-white">#}

    {#<!-- Footer Links -->#}
    {#<div class="container text-white">#}

    {#<!-- Grid row-->#}
    {#<div class="row text-center d-flex justify-content-center pt-5 mb-3">#}

    {#<!-- Grid column -->#}
    {#<div class="col-md-2 mb-3">#}
    {#<h6 class="text-uppercase font-weight-bold">#}
    {#<a href="#">A propos</a>#}
    {#</h6>#}
    {#</div>#}
    {#<!-- Grid column -->#}

    {#<!-- Grid column -->#}
    {#<div class="col-md-2 mb-3">#}
    {#<h6 class="text-uppercase font-weight-bold">#}
    {#<a href="#">Nos produits</a>#}
    {#</h6>#}
    {#</div>#}
    {#<!-- Grid column -->#}

    {#<!-- Grid column -->#}
    {#<div class="col-md-2 mb-3">#}
    {#<h6 class="text-uppercase font-weight-bold">#}
    {#<a href="#">Contact</a>#}
    {#</h6>#}
    {#</div>#}
    {#<!-- Grid column -->#}

    {#</div>#}
    {#<!-- Grid row-->#}
    {#<hr class="rgba-white-light" style="margin: 0 15%;">#}

    {#<!-- Grid row-->#}
    {#<div class="row d-flex text-center justify-content-center mb-md-0 mb-4">#}

    {#<!-- Grid column -->#}
    {#<div class="col-md-8 col-12 mt-5">#}
    {#<p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem#}
    {#accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis#}
    {#et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas#}
    {#sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>#}
    {#</div>#}
    {#<!-- Grid column -->#}

    {#</div>#}
    {#<!-- Grid row-->#}
    {#<hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">#}

    {#<!-- Grid row-->#}
    {#<div class="row pb-3">#}

    {#<!-- Grid column -->#}
    {#<div class="col-md-12">#}

    {#<div class="my-4 flex-center text-center">#}

    {#<!-- Facebook -->#}
    {#<a>#}
    {#<i class="fab fa-facebook-square icon mr-4"></i>#}
    {#</a>#}
    {#<!-- Twitter -->#}
    {#<a>#}
    {#<i class="fab fa-twitter-square icon mr-4"></i>#}
    {#</a>#}
    {#<!--Instagram-->#}
    {#<a>#}
    {#<i class="fab fa-instagram icon mr-4"></i>#}
    {#</a>#}

    {#</div>#}

    {#</div>#}
    {#<!-- Grid column -->#}

    {#</div>#}
    {#<!-- Grid row-->#}

    {#</div>#}
    {#<!-- Footer Links -->#}

    {#<!-- Copyright -->#}
    {#<div class="footer-copyright text-center py-3">© 2018 Copyright -#}
    {#<a href="https://mdbootstrap.com/education/bootstrap/"> SerialWatchers.com</a>#}
    {#</div>#}
    {#<!-- Copyright -->#}

    {#</footer>#}
<!-- Footer -->

{#---------------------- FIN FOOTER -----------------------#}


{#-------------------------------------------------------------------------------#}
{#---------------------- SCRIPT JAVASCRIPT/JQUERY BOOTSTRAP ---------------------#}
{#-------------------------------------------------------------------------------#}


{% block javascripts %}


    {# ----------------------------CDN JQUERY----------------------------------- #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    {# -------------------------Script Bootstrap-------------------------------- #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    {#----------------------------------------------------------------------------#}
    <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('lib/ajaxapi/ajax.js') }}"></script>
    <script src="{{ asset('lib/js/script.js') }}"></script>
    <script src="{{ asset('lib/js/sb-admin.js') }}"></script>


{% endblock %}
</body>
</html>
