<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {# -------------- META --------------#}
    <title>{% block title %}Serial-Watchers{% endblock %}</title>
    {% block stylesheets %}
        {#----------------------------------------- STYLESHEET ---------------------------------------------#}
        {#------------------------ Bootstrap ----------------------#}
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
        {#------------------------ Font Awesome ----------------------#}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        {#------------------------ Notre CSS ----------------------#}
        <link rel="stylesheet" href="{{ asset('lib/style.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/css/sb-admin.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/css/calendar.css') }}">
    {% endblock %}
</head>
<body>
{#---------------------- HEADER ---------------------#}
<header>
{#------------------------------ DEBUT HEADER ------------------------------#}

{#---------------------- DEBUT MENU ADMIN -----------------------#}
{# s'il y a un utilisateur connecté et qu'il a le rôle ROLE_ADMIN #}
{% if is_granted('ROLE_ADMIN') %}
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid navbar-nav">
        <!-- LOGO -->
        <a class="navbar-brand col-sm-2 col-md-1 mr-0" href="{{ path('app_index_index') }}">
            ADMIN
        </a>
        <div class="navbar-collapse">
            <ul class="navbar-nav justify-content-md-start navbar-collapse">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gestUsers" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Gestion des utilisateurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="gestUsers">
                        <a class="dropdown-item" href="{{ path('app_admin_user_index') }}">Gérer les utilisateurs</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gestBoutique" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Gestion de la boutique
                    </a>
                    <div class="dropdown-menu" aria-labelledby="gestBoutique">
                        <a class="dropdown-item" href="{{ path('app_admin_product_edit') }}">Editer un Produit</a>
                        <a class="dropdown-item" href="{{ path('app_admin_product_index') }}">Gestion des produits</a>
                        <a class="dropdown-item" href="{{ path('app_shop_index') }}">Accéder à la boutique</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}
    {#---------------------- FIN MENU ADMIN -----------------------#}

    {#---------------------- DEBUT MENU INTERFACE UTILISATEUR ---------------------#}
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_index_index') }}">
            <img src="{{ asset('lib/asset/serial-watcher-logoVlight.png') }}" class="d-inline-block align-top" alt="logo" style="width:250px">
        </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav justify-content-md-start navbar-collapse">
                    {# si l'utilisateur n'est pas connecté, on ne l'affiche pas#}
                    {% if app.user is not null %}
                        {#------ TOUTES LES SERIES ------#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_series_api') }}">Toutes les series</a>
                        </li>
                        {#------ MES SERIES ------#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_series_afficherfav') }}">Mes series</a>
                        </li>
                        {#------ BOUTIQUE ------#}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Boutique
                            </a>
                            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                                <a class="dropdown-item" href="{{ path('app_shop_index') }}">La boutique</a>
                                <a class="dropdown-item" href="{{ path('app_shop_dvd') }}">DVD</a>
                                <a class="dropdown-item" href="{{ path('app_shop_coffret') }}">Coffrets</a>
                                <a class="dropdown-item" href="{{ path('app_shop_goodies') }}">Goodies</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav justify-content-end navbar-collapse col-sm-4" id="navbar-index">
                {% if app.user is null %}
                    <ul class="navbar-nav">
                        {#------ INSCRIPTION ------#}
                        <li class="nav-item">
                            <a href="{{ path('app_security_register') }}" class="nav-link">
                                Inscription
                            </a>
                        </li>
                        {#------ CONNEXION ------#}
                        <li class="nav-item">
                            <a href="{{ path('app_security_login') }}" class="nav-link">
                                Connexion
                            </a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        {# Nom de l'utilisateur connecté #}
                        <li class="nav-item">
                            <a class="nav-link">
                                {{ app.user }}
                            </a>
                        </li>
                        {#lien Modifier profil#}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="gestUsers" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Profil
                                </a>
                                <div class="dropdown-menu" aria-labelledby="gestUsers">
                                    <a class="dropdown-item" href="{{ path('app_admin_user_interfaceadmin') }}">Accéder au profil</a>
                                    <a class="dropdown-item" href="{{ path('app_user_updateuser') }}">Modifier le profil</a>
                                </div>
                            </li>
                        {% else %}
                        <li class="nav-item">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="gestUsers" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Profil
                                </a>
                                <div class="dropdown-menu" aria-labelledby="gestUsers">
                                    <a class="dropdown-item" href="{{ path('app_user_dashboard') }}">Accéder au profil</a>
                                    {# MANQUE UN PARAMETRE
                                    <a class="dropdown-item" href="{{ path('app_user_updateuser') }}">Modifier le profil</a>#}
                                </div>
                            </li>
                        </li>
                        {% endif %}
                        {#------ DECONNEXION ------#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_security_logout') }}">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Déconnexion</span>
                            </a>
                        </li>
                    </ul>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {#---------------------- FIN MENU INTERFACE UTILISATEUR ---------------------#}

    {#--------------------------------- FIN HEADER ------------------------------#}
</header>

{# contiendra nos erreurs pour la connexion et l'inscription
 de même il centrera notre contenu #}

{# si on n'est pas sur la homepage, on affiche la class container#}

<div class="{% if app.request.attributes.get('_route') != 'app_index_index' %}mt-2 container{% endif %}">
    {# affichage des messages flash #}
    {% for type, flashes in app.session.flashBag.all %}
        {% for message in flashes %}
            {# pour la classe alert-danger du bootstrap #}
            {% if type == 'error' %}
                {% set type = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ type }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
</div>


{#---------------------- DEBUT FOOTER ---------------------#}

    <!-- Footer -->
    <footer class="mt-5 text-white">

        <!-- Footer Links -->
        <div class="container text-white">

            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#">A propos</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#">Nos produits</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#">Contact</a>
                    </h6>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <hr class="rgba-white-light" style="margin: 0 15%;">

            <!-- Grid row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                <!-- Grid column -->
                <div class="col-md-8 col-12 mt-5">
                    <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                        veritatis
                        et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                        sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

            <!-- Grid row-->
            <div class="row pb-3">

                <!-- Grid column -->
                <div class="col-md-12">

                    <div class="my-4 flex-center text-center">

                        <!-- Facebook -->
                        <a>
                            <i class="fab fa-facebook-square icon mr-4"></i>
                        </a>
                        <!-- Twitter -->
                        <a>
                            <i class="fab fa-twitter-square icon mr-4"></i>
                        </a>
                        <!--Instagram-->
                        <a>
                            <i class="fab fa-instagram icon mr-4"></i>
                        </a>

                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright -
            <a href="https://mdbootstrap.com/education/bootstrap/"> SerialWatchers.com</a>
        </div>
        <!-- Copyright -->

    </footer>
<!-- Footer -->

{#---------------------- FIN FOOTER -----------------------#}


{#-------------------------------------------------------------------------------#}
{#---------------------- SCRIPT JAVASCRIPT/JQUERY BOOTSTRAP ---------------------#}
{#-------------------------------------------------------------------------------#}


{% block javascripts %}

    {# ----------------------------CDN JQUERY----------------------------------- #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {# -------------------------Script Bootstrap-------------------------------- #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    {#----------------------------------------------------------------------------#}
    {#Script bootstrap#}
    <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
    {#Script général#}
    <script src="{{ asset('lib/ajaxapi/ajax.js') }}"></script>
    {#Script général#}
    <script src="{{ asset('lib/js/script.js') }}"></script>
    {#Script admin#}
    <script src="{{ asset('lib/js/sb-admin.js') }}"></script>

{% endblock %}
</body>
</html>