{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion des produits</h1>
    <hr>
    <p class="pb-3">
        <a class="btn btn-success btn-sm" href="{{ path('app_admin_product_edit') }}">
            Ajouter un produit
        </a>
    </p>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Titre</th>
                <th class="text-center">Catégorie</th>
                <th class="text-center">Description du produit</th>
                <th class="text-center" width="80px">Prix</th>
                <th width="100px">Modifier</th>
                <th width="50px">Supprimer</th>
            </tr>
        </thead>
        {% for product in products %}
            <tr>
                <td class="text-center pt-md-2">{{ product.id }}</td>
                <td class="pt-md-2"><strong>{{ product.title }}</strong></td>
                <td class="pt-md-2"><em>{{ product.category }}</em></td>
                <td class="pt-md-2">{{ product.description }}</td>
                <td class="text-center pt-md-2 align-middle">{{ product.price }} €</td>
                <td class="align-middle">
                    <div class="text-center">
                        <a class="btn btn-outline-primary" href="{{ path('app_admin_product_edit', {id:product.id}) }}" ><i class="far fa-edit"></i></a>
                    </div>
                </td>
                <td class="align-middle">
                    <div class="text-center">
                        <a href="{{ path('app_admin_product_delete', {id:product.id}) }}" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock body %}